.terraform
.terraform.lock.hcl
.env
terraform.tfvars.json
pulumi/Pulumi.prod.yaml
pulumi/bin/
pulumi/pulumi-resource-npmproxy
pulumi/providers/npmproxy/pulumi-resource-npmproxy
pulumi/providers/authentik/pulumi-resource-authentik
pulumi/providers/technitium/pulumi-resource-technitium
pulumi/providers/pulumi-resource-npmproxy