  arr_services:
    env:
      - "PUID=1000"
      - "PGID=100"
      - "TZ=America/Chicago"
    mounts:
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/user/Media:/media"
      - "/mnt/user/Downloads:/downloads"
    services:
      prowlarr:
        dns:
          enabled: true
          domain_name: "prowlarr.dcapi.app"
        network:
          internal: true
          service_port: 9696
          networks:
            - name: "br1"
              ip_address: "192.168.5.22"
        auth:
          enabled: true
          proxy:
            enabled: true
            user_secret: "prowlarr_username"
            pass_secret: "prowlarr_password"
          group: "Arr"
        icon: "https://static-00.iconduck.com/assets.00/prowlarr-icon-512x512-v9ekdjxx.png"
        service_name: "prowlarr"
        image_name: "linuxserver/prowlarr:2.3.0"
        domain_name: "prowlarr.dcapi.app"
        mounts:
          - "/mnt/user/Arr/prowlarr-data:/config"
      sonarr:
        dns:
          enabled: true
          domain_name: "sonarr.dcapi.app"
        network:
          internal: true
          service_port: 8989
          networks:
            - name: "br1"
              ip_address: "192.168.5.23"
        auth:
          enabled: true
          proxy:
            enabled: true
            user_secret: "sonarr_username"
            pass_secret: "sonarr_password"
          group: "Arr"
        icon: "https://static-00.iconduck.com/assets.00/sonarr-icon-1024x1024-wkay604k.png"
        service_name: "sonarr"
        image_name: "linuxserver/sonarr:4.0.16"
        domain_name: "sonarr.dcapi.app"
        mounts:
          - "/mnt/user/Arr/sonarr-data:/config"
          - "/mnt/user/Media:/media"
          - "/mnt/user/Downloads:/downloads"
      radarr:
        dns:
          enabled: true
          domain_name: "radarr.dcapi.app"
        network:
          internal: true
          service_port: 7878
          networks:
            - name: "br1"
              ip_address: "192.168.5.24"
        auth:
          enabled: true
          proxy:
            enabled: true
            user_secret: "radarr_username"
            pass_secret: "radarr_password"
          group: "Arr"
        icon: "https://static-00.iconduck.com/assets.00/radarr-icon-462x512-bydv4e4f.png"
        service_name: "radarr"
        image_name: "linuxserver/radarr:6.0.4"
        domain_name: "radarr.dcapi.app"
        mounts:
          - "/mnt/user/Arr/radarr-data:/config"
          - "/mnt/user/Media:/media"
          - "/mnt/user/Downloads:/downloads"
      lidarr: 
        dns:
          enabled: true
          domain_name: "lidarr.dcapi.app"
        network:
          internal: true
          service_port: 8686
          networks:
            - name: "br1"
              ip_address: "192.168.5.25"
        auth:
          enabled: true
          proxy:
            enabled: true
            user_secret: "lidarr_username"
            pass_secret: "lidarr_password"
          group: "Arr"
        service_name: "lidarr" 
        image_name: "linuxserver/lidarr:3.1.0"
        mounts:
          - "/mnt/user/Arr/lidarr-data:/config"
          - "/mnt/user/Media:/media"
          - "/mnt/user/Downloads:/downloads"